main {
  background-image: url(../assets/main-img.jpg );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(80vh - 87.78px);
}

.texto-diferente {
  max-width: 550px;
  font-size: 60px;
  height: 100%;
  color: #f5f5f5;
  padding: 60px 20px;
  background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

@media (max-width: 850px) {
  main {
    background-position: center;
  }
}

@media (max-width: 650px) {
  main {
    height: 500px;
    & .texto-diferente {
      width: 400px;
      font-size: 40px;
    }
  }
}