.mais-vendidas, .roupas {
  margin: 20px;
}

.mais-vendidas h3, .roupas h3{
  font-size: 40px;
  margin: 30px 15px;
  color: #4D4D4D;
}

.clothes {
  display: flex;
  gap: 20px;
  transition: .7s;
}

.prev, .next {
  transition: .7s;
}

.clothes img{
  width: 300px;
  border-radius: 5px;
}

.peças {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  transition: .3s;
}

.peças:hover::before {
  content: 'Adicionar ao carrinho';
  position: absolute;
  width: 200px;
  text-align: center;
  font-size: 18px;
  bottom: 150px;
  padding: 30px 50px;
  background:radial-gradient(circle, rgba(0,0,0,1),rgba(0,0,0,.1));
  color: #fff;
}

.peças:hover::after {
  content: url(../assets/carrinho-de-compras-2.png);
  position: absolute;
  top: -33px;
  right: -33px;
  scale: 0.3;
  z-index: 100;
  background: radial-gradient(circle, rgba(0,0,0,.5), rgba(0,0,0,.3));
  padding: 10px;
}

.peças p {
  color: #757474;
}

.peças .valor {
  color: rgb(46, 45, 45);
  margin: 5px 0px;
  font-weight: bold;
  font-size: 20px;
}

.clothes .peças:hover {
  cursor: pointer;
}

/* .slide li {
  opacity: 0.8;
  transform: scale(0.9);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
*/
.peças:hover {
  scale: 1.05;
}