@import url(header.css);
@import url(global.css);
@import url(main-hero.css);
@import url(produtos.css);
@import url(sobre.css);
@import url(footer.css);

.roupas {
  position: relative;
}

.prev img, .next img {
  width: 30px;
}

.prev {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 50px;
  top: calc(50% - 26px);
  cursor: pointer;
}

.next {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 50px;
  top: calc(50% - 26px);
  cursor: pointer;
}

/* .clothes {
  position: relative;
}

.prev img, .next img {
  width: 50px;
  height: 50px;
}

.prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #cfcece, #4D4D4D);
  
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: calc(50% - 80px);
  z-index: 1;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #cfcece, #4D4D4D);

  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: calc(50% - 80px);
  z-index: 1;
} */

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 100px 0;

  & img {
    width: 80vw;
  }

  & .text-banner {
    position: absolute;
    bottom: 0;
    padding: 100px 150px;
    color: #fff;
    background: radial-gradient(circle, rgba(0,0,0,1), rgba(0,0,0,0.3) 90%);
    text-align: center;

    font-size: 40px;
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .banner {
    & .text-banner {
      font-size: 30px;
      padding: 60px;
    }
  }
}

@media (max-width: 650px) {
    .banner {
      & .text-banner {
        font-size: 20px;
        padding: 50px;
      }
    }
}

@media (max-width: 450px) {
  .banner {
    & .text-banner {
      font-size: 20px;  
      padding: 20px;
    }
  }
}

/* -------------------------------------- */

.mais{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
  font-size: 24px;
  font-weight: bolder;
}

.mais p:hover {
  color: rgba(0, 0, 0, 0.288);
  cursor: pointer;
}

.hidden {
  display: none;
}

.hidden.active {
  display: block;
  animation: secEffect 1s;
}

@keyframes secEffect {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 450px) {
  .mais {
    margin: 20px 50px;
  }
}