@import url(header.css);
@import url(global.css);

main {
  background-image: url(../assets/teste5.jpg );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(80vh - 87.78px);
}